[user]
    name = Giorgio Delgado

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    navigate = true  # use n and N to move between diff sections
    true-color = always
    side-by-side = true
    # dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3

[push]
    autoSetupRemote = true
    default = current

[includeIf "gitdir:/Users/gio/dev/coplane/"]
    path = ~/.gitconfig-coplane
